.men{
    width: 100%;
    height: 53vh;
}
.women{
    width: 100%;
    height: 53vh;
}
.self{
    width: 100%;
    height: 53vh;
}
.cardio{
    width: 100%;
    height: 53vh;
}
.advance{
    width: 100%;
    height: 53vh;
}
.strength{
    width: 100%;
    height: 53vh;
}
.name{
    background-color: gold;
    color: black !important;
    width: 80%;
    text-align: center;
    transform: translate(15%, -30%);
}
